<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Tegdesign_Mixpanel>
            <version>0.1.0</version>
        </Tegdesign_Mixpanel>
    </modules>
    <global>
        <models>
            <tegdesign_mixpanel>
                <class>Tegdesign_Mixpanel_Model</class>
            </tegdesign_mixpanel>
        </models>
        <helpers>
            <tegdesign_mixpanel>
                <class>Tegdesign_Mixpanel_Helper</class>
            </tegdesign_mixpanel>
        </helpers> 
    </global>
    <frontend>
        <layout>
            <updates>
                <tegdesign_mixpanel module="Tegdesign_Mixpanel">
                    <file>tegdesign_mixpanel.xml</file>
                </tegdesign_mixpanel>
            </updates>
        </layout>
        <events>
            <customer_logout>
                <observers>
                    <mixpanel_customer_logout>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackCustomerLogout</method>
                    </mixpanel_customer_logout>
                </observers>
            </customer_logout>
            <customer_login>
                <observers>
                    <mixpanel_customer_login>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackCustomerLogin</method>
                    </mixpanel_customer_login>
                </observers>
            </customer_login>
            <customer_save_commit_after>
                <observers>
                    <mixpanel_customer_save>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackCustomerSave</method>
                    </mixpanel_customer_save>
                </observers>
            </customer_save_commit_after>
            <sales_order_place_after><!--could used sales_order_save_after for backend support, but it fires mulitple times-->
                <observers>
                    <mixpanel_order_save>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackOrder</method>
                    </mixpanel_order_save>
                </observers>
            </sales_order_place_after>
            <sales_order_place_before>
                <observers>
                    <mixpanel_customer_register_from_checkout>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackCustomerFromCheckout</method>
                    </mixpanel_customer_register_from_checkout>
                </observers>
            </sales_order_place_before>
            <checkout_cart_add_product_complete>
				<observers>
					<mixpanel_add_to_cart>
						<type>singleton</type>
						<class>Tegdesign_Mixpanel_Model_Observer</class>
						<method>trackAddToCart</method>
					</mixpanel_add_to_cart>
				</observers>
			</checkout_cart_add_product_complete> 
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <mixpanel_add_coupon_from_cart>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackCoupon</method>
                    </mixpanel_add_coupon_from_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <mixpanel_add_coupon>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackCoupon</method>
                    </mixpanel_add_coupon>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon>
            <newsletter_subscriber_save_before>
                <observers>
                    <mixpanel_newsletter_subscribe>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackNewsletter</method>
                    </mixpanel_newsletter_subscribe>
                </observers>
            </newsletter_subscriber_save_before>
            <review_controller_product_init_after>
                <observers>
                    <mixpanel_product_review>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackReview</method>
                    </mixpanel_product_review>
                </observers>
            </review_controller_product_init_after>
            <poll_vote_add>
                <observers>
                    <mixpanel_poll_vote>
                        <type>singleton</type>
                        <class>Tegdesign_Mixpanel_Model_Observer</class>
                        <method>trackVote</method>
                    </mixpanel_poll_vote>
                </observers>
            </poll_vote_add>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tegdesign_mixpanel_options>
                                            <title>Mixpanel Settings</title>
                                        </tegdesign_mixpanel_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>